{% comment %}
  HOLOGRID CELL
  Cell component for creating grid-based holographic interfaces
  
  @MutationCompatible: VoidBloom
  @StrategyProfile: quantum-entangled
  @Version: 1.0.0
{% endcomment %}

{% assign cell_title = title | default: '' %}
{% assign cell_content = content | default: '' %}
{% assign cell_type = type | default: 'info' %}
{% assign cell_size = size | default: 'medium' %}
{% assign cell_depth = depth | default: '1' %}
{% assign cell_link = link | default: '' %}
{% assign cell_id = id | default: 'hg-' | append: forloop.index %}

<div class="hologrid-cell {{ cell_size }} {{ cell_type }}" data-depth="{{ cell_depth }}" data-neural-node id="{{ cell_id }}">
  <div class="cell-frame">
    <div class="cell-connector"></div>
    <div class="cell-content">
      {% if cell_title != blank %}
        <div class="cell-title">{{ cell_title }}</div>
      {% endif %}
      
      <div class="cell-body">
        {{ cell_content }}
      </div>
      
      {% if cell_link != blank %}
        <a href="{{ cell_link }}" class="cell-link">
          <span class="link-text">{{ cell_link_text | default: 'Access' }}</span>
          <span class="link-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
          </span>
        </a>
      {% endif %}
    </div>
  </div>
  
  <div class="cell-depth depth-{{ cell_depth }}"></div>
  <div class="cell-glow"></div>
</div>